{% extends "@AMAdmin/layout.html.twig" %}

{% block title %}
    Supprimer article {{ article.id }} - {{ parent() }}
{% endblock %}

{% block title_header %}
    - Supprimer article
{% endblock %}

{% block body %}
<h2>Attention! La suppression sera définitive.<h2>

<form action="{{ path('am_admin_delete', {'id': article.id}) }}" method="post">
    <a href="{{ path('am_admin_view', {'id': article.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
</form>


{% endblock %}